
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- PartialHead -->
@await Html.PartialAsync("/Views/Admin/PartialHead.cshtml")
<!-- PartialHead -->

<body class="">
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand pt-0" href="../index.html">
                <img src="~/argon-dashboard-master/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
            </a>

            <!-- PartialUser -->
            @await Html.PartialAsync("/Views/Admin/PartialUser.cshtml")
            <!-- PartialUser -->

            <!-- PartialSideBar -->
            @await Html.PartialAsync("/Views/Admin/PartialSideBar.cshtml")
            <!-- PartialSideBar -->

        </div>
    </nav>
    <div class="main-content">

        <!-- PartialNavbar -->
        @await Html.PartialAsync("/Views/Admin/PartialNavbar.cshtml")
        <!-- PartialNavbar -->
       
        <!-- NavigationPartial -->
        @await Html.PartialAsync("/Views/Admin/NavigationPartial.cshtml")
        <!-- NavigationPartial -->
       
        <div class="container-fluid mt--6">
            <div class="row">
                <div class="col">
                  
                        <!--"RenderBody()" -> _Layout'a bağlı olarak çalışacak olan sayfaların nereye gelecegini gösterir -->
                        @RenderBody()
                </div>
            </div>
        </div>   
            <br /><br />
            <!-- PartialFooter -->
            @await Html.PartialAsync("/Views/Admin/PartialFooter.cshtml")
            <!-- PartialFooter -->
    </div>
    <!-- PartialScript -->
    @await Html.PartialAsync("/Views/Admin/PartialScript.cshtml")
    <!-- PartialScript -->
</body>

</html>
